<div class="speaker">
    <h3>@Presenting.Name</h3>
    <p class="social"><a href="https://twitter.com/@Presenting.Social" target="_social">@Presenting.Social</a></p>
    <p><a href="@Presenting.CompanyLink" target="_company">@Presenting.Title</a></p>
    <p>@Presenting.Bio</p>
    <div class="box">
        <img src="@Presenting.Image" alt="@Presenting.Name profile photo" />
    </div>
</div>

@code {

    [Parameter]
    public Presenter Presenting { get; set; }


}