                <div>
                    <figure>
                        <img src="@Speaker.Image" />
                    </figure>
                    <h2>@Speaker.Name</h2>
                    <p>
                        @Speaker.Bio
                    </p>
                    <h3>Social Links</h3>
                    <ul class="social">
                        @foreach (Social soc in Speaker.Social)
                        {
                            <li><a href="@FormatSocial(soc)" target="_blank"><i class="fa fa-@(soc.Type.ToLowerInvariant()) fg-platinum" aria-hidden="true"></i> @soc.Handle</a></li>
                        }
                    </ul>
                </div>


@code {
    [Parameter]
    public Presenter Speaker { get; set; }

    protected string FormatSocial (Social social){

        switch (social.Type)
        {
            case "Twitter":
                return $"https://twitter.com/{social.Handle.Substring(1)}";
            case "Facebook":
                return $"https://www.facebook.com/{social.Handle}";
            case "LinkedIn":
                return $"https://www.linkedin.com/in/{social.Handle}";
            case "Github":
                return $"https://www.github.com/{social.Handle}";
            case "Instagram":
                return $"https://instagram.com/{social.Handle}";
            default:
                return "";
        }

        return String.Empty;
    }


}